{% extends 'base.html' %}
{% block content %}

<div class="card sm-3">
    <div class="card-body">
    
    <h5 class="card-title">Iskcon Temple</h5>
    <p class="card-text">The International Society for Krishna Consciousness (ISKCON), otherwise known as the Hare Krishna movement, includes five hundred major centers, temples and rural communities, nearly one hundred affilated vegetarian restaurants, thousands of namahattas or local meeting groups, a wide variety of community projects, and millions of congregational members worldwide. Although less than fifty years on the global stage, ISKCON has expanded widely since its founding by His Divine Grace A. C. Bhaktivedanta Swami Prabhupāda in New York City in 1966.</p>
    </div>
</div>
<div class="card-fluid md-6 p-2" style="max-width: 1200px;">
    <div class="row text-align-center">
        <div class="col-md-3 px-4">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1pah42apPwut18hWdY1wdfdEC9WE9j95f3A&usqp=CAU" class="rounded float-start" alt="iskcon temple">
        </div>
        <div class="col-md-3">
        <div class="card-body">
            <h5 class="card-title">Iskcon</h5>
            <p class="card-text">Srila A.C. Bhaktivedanta Swami Prabhupada established ISKCON's first center in India in Kolkata at 3C Albert Road, Kolkata</p>
            <p class="card-text"><small class="text-muted">Kolkata</small></p>
        </div>
        </div>
        <div class="col-md-3">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHo6zH5EKqr1YLbsUdqpL2FaLAtJqX-aCWuz4oIXbgGWR1Hc8ITVvFndwwGApwPsu7LYs&usqp=CAU" class="rounded float-start" alt="iskcon temple"> </div>
        <div class="col-md-3">
        <div class="card-body">
            <h5 class="card-title">Iskcon</h5>
            <p class="card-text">Vrindavana Chandrodaya Mandir, a grand temple complex that is planned to be set up in the holy land of Vrindavana in Mathura District</p>
            <p class="card-text"><small class="text-muted">varindavan</small></p>
        </div>
        </div>
    </div>
    </div>

{% endblock %}
