{% extends 'base.html' %}
{% block content %}

<div class="card mb-3">
    <img src="https://media.istockphoto.com/photos/sri-radha-krishna-iskcon-temple-picture-id1145437356?k=20&m=1145437356&s=612x612&w=0&h=iJeHXPp6V-oce-zXwv5wLNVyPpk5omQBoo0kUHntJTk=" class="card-img-top" alt="iskcon temple">
    <div class="card-body">
    <h5 class="card-title">Iskcon Temple</h5>
    <p class="card-text">ISKCON belongs to the Gaudiya-Vaishnava sampradāya, a monotheistic tradition within the Vedic or Hindu culture. Philosophically it is based on the Sanskrit texts Bhagavad-gītā and the Bhagavat Purana, or Srimad Bhagavatam. These are the historic texts of the devotional bhakti yoga tradition, which teaches that the ultimate goal for all living beings is to reawaken their love for God, or Lord Krishna, the “all-attractive one”.</p>
    <p class="card-text">ISKCON's founder, Srila Prabhupada, has drawn appreciation from scholars and religious leaders alike for his remarkable achievement in presenting India’s Vaishnava spiritual culture in a relevant manner to contemporary Western and worldwide audiences.</p>
    <p class="card-text">Members of ISKCON practice bhakti-yoga in their homes and also worship in temples. They also promote bhakti-yoga, or Krishna Consciousness, through festivals, the performing arts, yoga seminars, public chanting, and the distribution of the society’s literatures. ISKCON members have also opened hospitals, schools, colleges, eco-villages, free food distribution projects, and other institutions as a practical application of the path of devotional yoga.</p>
    </div>
</div>

{% endblock %}
